.blogs-wrapper .row {
  margin: 0 12px;
  row-gap: 24px;
}
.blogs-wrapper .row .col-lg-3 {
  padding: 0 12px;
}

.blogs-wrapper .row {
  margin: 0 -20px;
}
.blogs-wrapper .row .col-lg-8,
.blogs-wrapper .row .col-lg-4 {
  padding: 0 20px;
}

.btn.active {
  color: red;
  cursor: not-allowed;
}

.btn.active:hover {
  color: red;
  cursor: not-allowed;
}
